[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
rq = "*"
redis = "*"
numpy = "*"
plyfile = "*"
flask-cors = "*"
pymeshlab = "*"

[dev-packages]
rq-dashboard = "*"

[requires]
python_version = "3.9"
