canvas {
    height: calc(100vh - 50px);
    width: calc(100vw - 300px);
    margin-left: 10px;
}

.toolbar {
    background-color: rgb(199, 199, 199);
    height: calc(100vh - 90px);
    width: 230px;
    position: absolute;
    right: 10px;
    align-content: center;
    display: inline-block;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

button {
    background-color: azure;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: rgb(225, 255, 255);
}