.description {
    width:100vw;
    background-color: rgb(206, 206, 255);
}

.upload {
    width: 100vw;
    justify-content: center;
    align-content: center;
    display: inline-block;
    text-align: center;
}

.dzu-dropzone {
    width: 400px;
    margin-top: 20px;
}