<!doctype html>
    <html>
    <head>
        <title>Image2Mesh</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>Image-2-Mesh</h1>
        <div class="file_upload">
            <form class="dropzone" method="POST" action="{{ url_for('index') }}" id="upload">
            </form>
            <button id="submit_upload">Submit files</button><br />
            <span id="response_field">
            </span>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
        <script>
            Dropzone.options.upload = {
                paramName: "file",
                autoProcessQueue: false,
                uploadMultiple: true,
                maxFilesize: 10,
                acceptedFiles: ".png, .jpg, .jpeg",
            };

            document.addEventListener("DOMContentLoaded", () => {
                const submitButton = document.querySelector("#submit_upload");
                submitButton.addEventListener("click", eventArgs => {
                    document.querySelector("#upload").dropzone.processQueue();
                });

                document.querySelector("#upload").dropzone.on("success", (file, response) => {
                    submitButton.disabled = true;
                    document.querySelector("#response_field").innerHTML = `Upload successful!\nJob created with id:<br/><a href="/result?id=${response}">${response}</a>`;
                });
            });

        </script>
    </body>
</html>